<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr><p>
        亚洲大米要大幅上涨了？

　　当前，连涨5个月后的亚洲大米仍然是全球粮食的价格洼地，<br>
        全球主产国泰国的主要出口大米涨幅至今仅为15.63%，<br>
        而国际小麦、玉米、大豆价格相较年初分别上涨48%、30%、28%，显然大米涨幅明显偏弱。
    </p></tr>
    <ul>
        <li>Call of wild</li>
        <li>Robinson Crusoe</li>
        <li href="#">{{ name }}</li>
    </ul>

</table>


        <div style='wildth="200", higth="200" clour="red"' ></div>

        <div style="wildth='300' higth='300' clour='green'" ></div>



</body>
</html>